<div class="container" >
    <form #f="ngForm" autocomplete="off" (keydown)="onEnter($event, f)">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <input class="inputSearch" type="text" [(ngModel)]="search" 
                name="search" 
                placeholder="Digite o nome do filme e pressione ENTER" 
                required autofocus  />
            </div>
        </div>
        <div class="row"> 
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 searchmsg">
                <p> {{message}}</p>
            </div>
        </div>
    </form>
</div>
<div class="container" *ngIf="hasMovies" >
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 " [class]="moviesList[selectedIndex] == card ? 'active': ''"  *ngFor="let card of moviesList">
            <app-card [poster]="card.Poster" [title]="card.Title" (click)="selectMovie(card)">
            </app-card>
        </div>
    </div>

</div>