<div class="moviecard container-fluid">
    <div class="tile">
        <table>
            <tr>
                <td> <img [src]="poster == 'N/A' ? 'assets/images/noImage.png' : poster" height="150" width="120" /></td>
                <td> <div class="title"> {{title}} </div> </td>
            </tr>
        </table>
    </div>
</div>