<div class="container-fluid backg">
    <form #f="ngForm" autocomplete="off" (keydown)="onkeyDown($event)">
    <table>
        <tr>
            <td><img [src]="movie.Poster" height="450" width="330" class="poster" /> </td>
            <td>
                <div class="movieDescription title"> {{movie.Title}} ({{movie.Year}}) </div>
                <div class="movieDescription others"> {{movie.Runtime}} - {{movie.Genre}}</div>
                <div class="movieDescription plot"> {{movie.Plot}} </div>
                <div class="movieDescription others"> <strong>Atores: </strong>{{movie.Actors}} </div>
                <div class="movieDescription others"> <strong>Diretor: </strong>{{movie.Director}} </div>
                <div class="movieDescription language"> <strong>Idioma Original: </strong>{{movie.Language}} </div>
                <div *ngFor="let item of movie.Ratings"> 
                    <div class="movieDescription others"> <strong>{{item.Source == 'Internet Movie Database' ? 'Imdb' : item.Source }}: </strong>{{item.Value}} </div>
                </div>
                <div class="buttons">
                    <button #btn1 default autofocus type="button" tabindex="0" class="btn btn-primary btn-md " (click)="navigateBack()">Voltar</button>
                    <button #btn2 type="button" tabindex="1" class="btn btn-secondary btn-md " (click)="navigateToSearch() ">Nova Busca</button>
                </div>
            </td>
        </tr>
    </table>
    </form>
</div>