
.movieDescription {
    position: relative;
    margin-left: 20px;
}

.poster {
    padding-top: 10px;
}
.title {
    font-size: 32px;
    color: white;
    position: relative;
    margin-bottom: 20px;;
}
.others {
    font-size: 18px;
    color: white;
}

.plot {
    font-size: 18px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;;
}

.language {
    font-size: 18px;
    color: white;
    margin-top: 20px;;
    margin-bottom: 20px;;
}

button {
    margin-top: 20px;
    margin-left:20px;
    width: 120px;
    border-radius:0;
}
