/* You can add global styles to this file, and also import other style files */

body {
  background-color: black !important;
  color: white;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.inputSearch {
  background-color: black !important;
  font-size: 42px !important;
  color: white !important;
  border-width: 0px 0px 1px 1px;
  width: 71%;
}

.searchmsg {
  background-color: black !important;
  font-size: 32px !important;
  color: white !important;
  margin-top: 15px;
}

.moviecard {
  padding: 5px 5px !important;
  width: 250px;;
}

.active, .tile:hover {
  cursor: pointer;
  border: 2px solid #4376b8;
}

.tile {
  width: 250px;
  position: relative;
  display: block;
  margin-bottom: 5px;
  border: 1px solid #000000;
  overflow: hidden;
  padding-bottom: 5px;
  background: #000;
  transition: all 300ms ease-in-out;
}

.tile .img {
  left: 0;
  top: 0;
  z-index: 1;
}

.title {
  text-align: center;
  font-size: 16px;
  padding: 5px 5px;
  word-wrap: break-word;
  display: block;
  color: white;
  white-space: pre-wrap;
}
